<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="images/favicon.ico">
	<title>Medialoot Bootstrap 4 Dashboard Template</title>

    <!-- Bootstrap core CSS -->
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Icons -->
    <link href="/css/font-awesome.css" rel="stylesheet">
    
    <!-- Custom styles for this template -->
	<link href="/css/login.css" rel="stylesheet">
	
    
</head>
<body>
  <div class="container-fluid" id="wrapper" style="width:65%">
   
        <div class="row " style="margin:100px 100px 100px 200px">
          <% if(error!=''){ %>
            <div class="alert alert-danger"><%=error%></div>
            <%}%>
            <% if(success!=''){ %>
              <div class="alert alert-success"><%=success%></div>
              <%}%>
                <form action="/login" method="POST">
                       <div class="container">
                          <label for="uname"><b>Username</b></label>
                          <input type="text" placeholder="Enter Username" name="uname" required>
                      
                          <label for="psw"><b>Password</b></label>
                          <input type="password" placeholder="Enter Password" name="psw" required>
                      
                          <button type="submit">Login</button>
                          <label>
                            <input type="checkbox" checked="checked" name="remember"> Remember me
                          </label>
                        </div>
                      
                        <div class="container" style="background-color:#f1f1f1">
                          <button type="button" class="cancelbtn">Cancel</button>
                          <span class="psw">Forgot <a href="#">password?</a></span>
                        </div>
                      </form>
        </div>
        </div>
</body>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/dist/js/jquery-3.2.1.slim.min.js" ></script>
<script src="/dist/js/popper.min.js" ></script>
<script src="/dist/js/bootstrap.min.js"></script>
<script src="/dist/js/bootstrap-datepicker.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script> -->

</body>
</html>